# CUDA-enabled PyTorch version
torch==2.2.2+cu121 --index-url https://download.pytorch.org/whl/cu121

# Remaining packages
fastapi
uvicorn
mido
requests
pydantic
transformers
huggingface-hub
python-multipart
basic_pitch[tf]
pretty_midi
einops
st-moe-pytorch
accelerate
jsonlines
tqdm
miditok
sentencepiece
soundfile
librosa
audioread
tensorflow